@{
    ViewBag.Title = "ThanhToanThanhCong";
    Layout = "~/Views/Shared/_LayoutPageCart.cshtml";
}

<div class="w-100 d-flex align-items-center" style="height: 500px">
    <div class="bg-transparent mx-auto d-flex flex-column align-items-center" style="width: 38rem">
        <img src="~/Content/Images/check.png" class="mx-auto" style="width: 5rem"/>
        <span class="h3 fw-normal text-uppercase mt-3 text-success">thanh toán thành công</span>
        <a class="mt-5 btn btn-info px-5 py-2 text-white fw-bold" href="@Url.Action("Index", "Home")">Tiếp tục mua sắm</a>
    </div>
</div>

